<div class="home m-auto w-75 h-75 my-5 rounded-3">
    <div class="row px-3">
      
      <div class="col-md-7 px-5">
        
        <div class="contents text-center m-5 p-5">
            <h2 class="pt-5 mt-5 pb-4">THANK YOU SIR !</h2>
            <P>YOUR MESSAGE WILL BE ANSWERED AS SOON AS POSSIBLE</P>
        </div>
       
      </div>
      
      <div class="col-md-5 h-50 pic p-4 rounded-2">
          <img src="../../assets/pic.png" class="h-100 rounded-2">
      </div>
      
      </div>     
      </div>