<div class="img">
<div class="layer text-center text-white py-4 ">
<h1>COMMUNITY</h1>
<p class="W-25 m-auto fs-3">SHARE YOUR IDEAS AND SUGGESTIONS WITH OUR COMMUNITY TO SOLVE ALL YOUR TECHNICAL PROBLEMS.</p>
</div>
</div>

<div class="feedback rounded-1 m-5 py-3 px-5">
<div class="row px-3">
<div class="container d-flex aftr px-5">
  <div class="photo rounded-circle mx-3 ">
    <img src="../../assets/Ellipse 8.png" class="h-100 w-100">
  </div>
  <input type="text" class="form-control my-2 rounded-3" placeholder="What in your mind ?" >

</div>


</div>

<div class="btns d-flex mx-5 px-5">
  <button class="btn px-3 ms-5">
    <i class="fa-solid fa-photo-film"></i>
    Photo/Vedio
  </button>

  <button class="btn px-3 ms-5">
    <i class="fa-regular fa-face-grin-beam"></i>
    Feeling/Activity
  </button>

    </div>


</div>

<div class="container mt-5 ">
<div class="d-flex">
  <div class="photo rounded-circle mb-4 me-3">
    <img src="../../assets/Ellipse 8.png" class="h-100 w-100">
  </div>
  <h2>KERLOS</h2>
</div>
<p class="fs-5 fw-bold py-2">Community | May 17,2023</p>
<div class="text">
  <h5 class="pe-5">What Bad Situations Have You Encountered With The Technician ? </h5>
</div>

<div class="icons px-5 my-5 pt-5 d-flex ">
<div class="d-flex px-5">
  <h6 class="icon ps-5">
    <i class="fa-regular fa-heart p-2 me-2 rounded-circle"></i>
    1,583 Likes
  </h6>
  <h6 class="icon ps-5">
    <i class="fa-regular fa-comment-dots p-2 me-2 rounded-circle"></i>
    236 Comment
  </h6>
  <h6 class="icon ps-5">
    <i class="fa-solid fa-share-nodes p-2 me-2 rounded-circle"></i>
    367 Share
  </h6>
</div>
</div>

<div class="txt">
<textarea placeholder="Write The Response ....." class="my-5 p-3 ms-5 rounded-3">
</textarea>
<button class="sbmt rounded-4 py-1 px-4" type="submit">Submit</button>
</div>


<div class="comments px-5">

<div class="comment w-100 mt-3">
  <div class="d-flex">
    <div class="photo rounded-circle mb-4 me-3">
      <img src="../../assets/Ellipse 9.png" class="h-100 w-100">
    </div>
    <div class="name w-100">
      <h6>Menna</h6>
      <p>5 hours ago</p>
    </div>



  </div>
  <p class="w-100 fs-6 px-3">In a frustrating encounter with a repair technician, a laptop owner experienced a prolonged delay, poor communication, and subpar service. The technician failed to fix the laptop's issues and even caused additional damage, leaving the customer dissatisfied and out of pocket. This scenario highlights the importance of researching repair services and technicians before entrusting them with valuable devices.</p>
  <div class="iconBottom d-flex ">
    <p class="icon ps-5">
      <i class="fa-regular fa-heart p-1 rounded-circle"></i>
      13 Likes
    </p>
    <p class="icon ps-3">
      <i class="fa-regular fa-comment-dots p-1 rounded-circle"></i>
      26 Comment
    </p>
  </div>
</div>

<div class="comment w-100 mt-4 pt-5">
  <div class="d-flex">
    <div class="photo rounded-circle mb-4 me-3">
      <img src="../../assets/Ellipse 11.png" class="h-100 w-100">
    </div>
    <div class="name w-100">
      <h6>Mohamed</h6>
      <p>8 hours ago</p>
    </div>



  </div>
  <p class="w-100 fs-6 px-3">In a disappointing encounter with a repair technician, a customer faced a frustrating ordeal marked by delays, ineffective communication, and ultimately, a poorly executed repair job. This incident underscores the significance of thoroughly researching and selecting reliable technicians to avoid costly and aggravating experiences.</p>
  <div class="iconBottom d-flex ">
    <p class="icon ps-5">
      <i class="fa-regular fa-heart p-1 rounded-circle"></i>
      11 Likes
    </p>
    <p class="icon ps-3">
      <i class="fa-regular fa-comment-dots p-1 rounded-circle"></i>
      20 Comment
    </p>
  </div>
</div>

<div class="comment w-100 mt-4 pt-5">
  <div class="d-flex">
    <div class="photo rounded-circle mb-4 me-3">
      <img src="../../assets/Ellipse 10.png" class="h-100 w-100">
    </div>
    <div class="name w-100">
      <h6>Enas</h6>
      <p>7 hours ago</p>
    </div>



  </div>
  <p class="w-100 fs-6 px-3">In this unfortunate situation with a repair technician, a customer's expectations were shattered by a lack of communication, unprofessionalism, and a failure to resolve the initial issue. This experience serves as a cautionary tale, emphasizing the importance of thoroughly vetting repair services before entrusting them with your valuable possessions.</p>
  <div class="iconBottom d-flex ">
    <p class="icon ps-5">
      <i class="fa-regular fa-heart p-1 rounded-circle"></i>
      23 Likes
    </p>
    <p class="icon ps-3">
      <i class="fa-regular fa-comment-dots p-1 rounded-circle"></i>
      23 Comment
    </p>
  </div>
</div>


<div class="comment w-100 mt-4 pt-5">
  <div class="d-flex">
    <div class="photo rounded-circle mb-4 me-3">
      <img src="../../assets/Ellipse 12.png" class="h-100 w-100">
    </div>
    <div class="name w-100">
      <h6>Mostafa Mohmed</h6>
      <p>9 hours ago</p>
    </div>

  </div>
  <p class="w-100 fs-6 px-3">In a regrettable encounter with a repair technician, a customer endured a maddening experience characterized by prolonged delays, ineffective communication, and ultimately, a shoddy repair job. This incident serves as a stark reminder of the importance of conducting thorough research to find reputable technicians and avoid unnecessary headaches and expenses.</p>


<div class="iconBottom d-flex ">
  <p class="icon ps-5">
    <i class="fa-regular fa-heart p-1 rounded-circle"></i>
    14 Likes
  </p>
  <p class="icon ps-3">
    <i class="fa-regular fa-comment-dots p-1 rounded-circle"></i>
    29 Comment
  </p>
</div>

</div>


</div>

<div class="m-auto text-center mt-5">
  <button class="see py-1 px-5  rounded-5 m-5" >See More...</button>
</div>







</div>

<div class="footer text-center  p-5">

<div class=" m-auto pt-5">
  <i class="fa-brands fa-facebook-f mx-2 rounded-circle py-2 px-2"></i>
  <i class="fa-brands fa-twitter mx-2 rounded-circle py-2 px-2"></i>
  <i class="fa-brands fa-instagram mx-2 rounded-circle py-2 px-2"></i>
  <i class="fa-brands fa-linkedin mx-2 rounded-circle py-2 px-2"></i>
  <i class="fa-solid fa-envelope mx-2 rounded-circle py-2 px-2"></i>
</div>
<h3 class="py-4">TechNurturers</h3>
<p class="text-dark">Copyright ©  2023 TechNurturers Cairo, Egypt.** All rights reserved.</p>

</div>

